.vs/Testris/v15/Browse.VC.opendb
.vs/Testris/v15/Browse.VC.db
.vs/Testris/v15/ipch/AutoPCH/ea3c47e21602b8d9/GAMEBOARD.ipch
Testris/Debug/vc141.idb
Testris/Debug/Testris.tlog/link.read.1.tlog
Testris/Debug/Testris.tlog/Testris.lastbuildstate
Testris/Debug/Testris.tlog/CL.write.1.tlog
Testris/Debug/Testris.tlog/CL.read.1.tlog
Testris/Debug/Testris.tlog/CL.command.1.tlog
Testris/Debug/Testris.tlog/link.write.1.tlog
Testris/Debug/Testris.tlog/link.command.1.tlog
